.Gridcontainer{
    height: 100vh;
    margin:auto;
    box-sizing: border-box;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
    padding: 5px 10px;
    
    

}
.image{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80%;
    width: 80%;
    overflow-x: hidden;
    margin:auto;
    padding-top: 8px;
    object-fit:contain;
}
.info{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80%;
    width: 80%;
    overflow-x: hidden;
    margin:auto;
    padding-top: 8px;
    object-fit:contain;
    color: white;
}
.htag{
    display: flex;
    justify-content: center;
    justify-items: center;
    color:yellow; 
}
.ptag{
    display: flex;
    justify-content: center;
    justify-items: center;
    color:aliceblue; 
}