.Gridcontainer{
    height: 100vh;
    width: 100%;
    margin:auto;
    box-sizing: border-box;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 2em;
    
}

.Gridcontainer img{
    margin-top: 2em;
    width: 90%;
    height: 85%;
    object-fit: cover;
    border-radius: 15px;
}

.image{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80%;
    width: 80%;
    overflow-x: hidden;
    margin:auto;
    padding-top: 8px;
    object-fit:contain;
}

.info{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80%;
    width: 80%;
    overflow-x: hidden;
    margin:auto;
    padding-top: 8px;
    object-fit:contain;
    color: white;
}
.htag{
    display: flex;
    justify-content: center;
    justify-items: center;
    color:yellow; 
}
.ptag{
    display: flex;
    justify-content: center;
    justify-items: center;
    color:aliceblue; 
}

.word{
    color: black;
    display: flex;
    justify-content: center;

}

h2{
    color: black;
    display: flex;
    justify-content: center;
}

