/* .BlogInfo__container{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}  
.image{
    width: 10%;
} */
.info{
   
    width: 50%;
    height: 45%;
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 10px;
    color: azure;
}
 

