.body-cont {
  background-color: black;
  width: 80%;
  height: 250vh;
  margin-left: 6.5em;
}
.Main_container{
   
    display: grid;
    grid-template-columns: 23% 77%;
    gap: 2em; 
}

.image__container {
    margin-top: 4em;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 140px;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 15px;
}
  
  .image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .second_cont{
    margin-top: 6em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .second_cont p{
    font-size: 1.5em;
  }

  
  .nav__cirlce img{
    width: 100%;
    height: 100%;
    border-radius: 60px; 
    
  }
  .cont_cont {
    margin-bottom: 0.9em;
  }

  .cont_cont h3{
    margin: .3em;
    font-size: 3em;
    font-weight: bold;
  }

  #word_effect {
    color: yellow;
  }
  .parent-element {
    overflow: visible; 
  }
  
  
#nav_icon {
  width: 3.5em; 
  height: 3.5em; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: sticky; 
  top: 10px; 
  z-index: 1000; 

}


.menu-tab {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 10px;
  margin-top: 0;
  margin-right: 20px;
  padding-right: 20px;
}


.menu-tab ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  text-align: right;
}


.menu-tab li {
  margin-bottom: 10px; 
  list-style: none;
}

.menu-tab a {
  color: yellow;
  text-decoration: none; 
}

.details {
  
  display: flex;                          
  flex-wrap: wrap;                      
  align-items: center;                   
  gap: 4em;                              
  margin-top: 2em;                       
  padding-top: 2em;                      
  border-top: 1px solid rgba(192, 187, 187, 0.548); 
  font-size: 20px; 
  }


.details div {
  display: flex;                         
  align-items: center; 
  
}


.details img {
  margin-right: 0.5em;                   
}


@media (max-width: 768px) {
  .details {
    gap: em;                            
    font-size: 18px;                    
    padding-top: 1em;                   
    margin-top: 1em;                   
    flex-direction: column;              
    align-items: flex-start;              
  }
}

.local{
  margin-top: .5em;                      
  padding-top: 1.1em;
  font-size: 20px;
}


@media (min-width: 600px) {
  .Main_container {
    flex-direction: row; /* Switch to row layout on larger screens */
    justify-content: space-between; /* Space between elements */
    padding: 40px; /* Increase padding */
  }
}

.writeup {
  width: 100%;
  
}

.writeup p{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}